.navbar {
  transition: all 0.5s ease-in-out;
  width: 100vw;
}

.header {
  top: -65px;
  background: #151515 url("/dist/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  zoom: 1.05;
  height: 110vh !important;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: "lora-regular", serif;
}

.header .social {
  bottom: 50px;
}

.services {
  top: -65px;
  background: #151515 url("/bg-2.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  zoom: 1.05;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.services .text-container {
  z-index: 10;
}

.stats {
  position: relative;
  margin-top: -80px;
}

.footer {
  position: relative;
  margin-top: -80px;
}

.project-modals .modal-dialog {
  max-width: 1150px;
  margin-top: 130px;
}

.skills-svgs li {
  width: 75px !important;
  list-style-type: none;
}

.skills-list li {
  list-style-type: none;
}

.skills-list hr {
  margin-bottom: 0.5rem;
}

.ad1 {
  background: #151515 url("/dist/nat2.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.ad1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ad2 {
  background: #151515 url("/dist/nat4.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.ad2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.adrow {
  position: relative;
  z-index: 10;
}

.aoerow h2 {
  font-family: fantasy;
  font-size: 2.5rem !important;
  font-weight: 900;
  text-shadow: 0 0 500px #ffee00;
}

.perrow h2 {
  font-family: impact;
  font-size: 3rem !important;
  font-weight: 900;
  text-shadow: 0 0 100px #55ff00;
}

.quote {
  font-size: 22px;
}

.perlist {
  font-family: fantasy;
  font-size: 2.5rem !important;
  font-weight: 900;
  text-shadow: 0 0 500px #ffee00;
}

.plan {
  position: relative;
  left: 200%;
}

@media (max-width: 767px) {
  .about-content {
    flex-direction: column !important;
  }

  .header .social {
    bottom: 30px;
  }

  .skills-list {
    text-align: center;
  }

  .skills-list hr {
    margin: auto;
  }

  .modal-dex {
    margin-bottom: 1rem !important;
  }

  .modal-link {
    margin-top: 1rem !important;
  }

  .ad2 {
    margin-top: 0;
    padding: 0;
  }

  .row-empty {
    display: none;
  }

  .aoerow h2 {
    font-family: fantasy;
    font-size: 2rem !important;
    font-weight: 900;
    text-shadow: 0 0 500px #ffee00;
  }

  .perrow h2 {
    font-family: impact;
    font-size: 3rem !important;
    font-weight: 900;
    text-shadow: 0 0 100px #55ff00;
    margin: 0 !important;
  }
}
